.main__passwordCheck {
  margin-top: 0.8rem;
}
.password-Alert {
  line-height: 1.67;
}
.password-rule {
  width: 100%;
  display: flex;
  line-height: 1.67;
  align-items: center;
}
.rule-icon {
  width: 0.8rem;
  height: 0.8rem;
  margin: 0.8rem;
  display: block;
  align-self: flex-start;
  border-radius: 100%;
  background-size: cover;
}
.red {
  background-color: red;
}
.green {
  background-color: #74cc15;
}
.rule-text {
  width: calc(100% - 2rem);
}
.passwordCheck__again {
  margin-top: 3.2rem;
  margin-bottom: 2.6rem;
}
.passwordCheck-btn {
  color: #ff5a60;
  background-color: #fff9f9;
  border: 1px solid #ffdada;
}
